{% extends 'usernavigation.html' %}
{% load static %}
{% block body %}

    {% ifequal error "no" %}
    <script>
        alert('Password change successful');
        window.location=('{% url 'logout' %}');
    </script>
    {% endifequal %}

    {% ifequal error "yes" %}
    <script>
        alert('Invalid password, Please try again');
    </script>
    {% endifequal %}

    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="text-center">Change password</h2>
                <hr>
                <form method="post">
                    {% csrf_token %}
                    <label>Old password</label>
                    <input type="password" class="form-control" placeholder="Enter your old password" name="old">
                    <label>New password</label>
                    <input type="password" class="form-control" placeholder="Enter your new password" name="new">
                    <label>Confirm new password</label>
                    <input type="password" class="form-control" placeholder="Re enter your new password" name="confirm">
                    <input type="submit" class="btn btn-primary mt-2" value="Submit">
                </form>
            </div>
        </div>
    </div>

{% endblock %}