{% extends 'navigation.html' %}
{% load static %}
{% block body %}
<div style="background-color: cornflowerblue; width: 100%; height: 100px;">
    <h3 class="text-white container pt-4">Contact Us</h3>
</div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14604.329871733915!2d90.4071275!3d23.7800775!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xec01cd75f33139f5!2sBRAC%20University!5e0!3m2!1sen!2sbd!4v1605602342242!5m2!1sen!2sbd" width="500" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="col-sm-6">
                <p><i class="fas fa-envelope"></i> Email ID: abdul.muneem.khan@g.bracu.ac.bd</p>
                <p><i class="fas fa-phone-square"></i> Contact: 01234567890</p>
                <p><i class="fas fa-address-card"></i> Address: 66 Mohakhali, Dhaka 1212, Bangladesh</p>
                <p><i class="fas fa-clock"></i> Office hours: 10.00am to 6.00pm</p>
                <p>Follow us:</p>
                <a href="https://www.facebook.com/BRACUniversity"><i class="fab fa-facebook-f pr-3"></i></a>
                <a href="https://twitter.com/bracuniversity"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </div>
    <br>
    <br>

{% endblock %}